.modal-footer2{padding-top:0px;padding-right:40px;padding-left:40px;padding-bottom:15px;}
.modal-header2 {
    min-height: 16.43px;
    padding: 15px;
}
.tcc {
    height: 350px;
}
.modal {
    border: 0px;
}
.parentCls{width:200px;height:auto;margin:0 auto;}.parentCls ul{padding-left:10px;padding-right:10px;}
.tcck, .tcck2{padding-top:40px;padding-left:40px;padding-right:40px;}.tcck2{padding-top:20px;}
.modal-content2{position:relative;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);}
.pwd{width:600px;height:400px;margin-left:auto;margin-right:auto;background-color:#FFFFFF;padding:20px;}
.input-group, .input-group .form-control {
    height: 50px;
}
.input-group-lg>.input-group-btn>.btn {
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    width: 100px;
}
.errts {
    padding: 5px;
    padding-left: 20px;
}
.top10 {
    margin-top: 10px;
}
.top20 {
    margin-top: 20px;
}